@inherits LayoutComponentBase

<div class="app">
    <NavMenu />
    <main class="content">
        @Body
    </main>
</div>

<SoporteWidget />

<div id="blazor-error-ui" data-nosnippet>
    Ocurrió un error inesperado.
    <a href="." class="reload">Recargar</a>
    <span class="dismiss">🗙</span>
</div>
